.flash-box
  グループを作成しました
.container
  .chat-side
    .side-header
      .side-header__box
        .side-header__box__user-name
          takeda
        .side-header__box__new-group
        .side-header__box__edit-user
    .groups
      .group
        .group__group-name
          sample
        .group__latest-message
          hello!
  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__group-name
        .main-header__left-box__group-membersa
      .main-header__edit-btn
    .messages
      .message
        .message__upper-info
          .message__upper-info__talker
          .message__upper-info__date
        .message__text
    .form
      .form__input-box
        .form__input-box__image
      .form__submit-btn